@import url('reset.css');
@import 'https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab';
body{
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 16px;
    background-color: #fefefe;
}
header{
    height: 150px;
    display: block;
    background-color: red;
    background: #dadada;
    background: -moz-linear-gradient(top,  #dadada 0%, #ffffff 25%);
    background: -webkit-linear-gradient(top,  #dadada 0%,#ffffff 25%); 
    background: linear-gradient(to bottom,  #dadada 0%,#ffffff 25%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dadada', endColorstr='#ffffff',GradientType=0 );
    box-shadow: 5px 0px 5px #999;
    padding:0 0 10px 0;
}
    .ribbon{height: 10px;width: 100%;margin-bottom: 10px;}
    .ribbon li{width: 20%;height: 100%; display: inline-block;}
    .ribbon li:nth-child(1){background-color: #c0392b;}
    .ribbon li:nth-child(2){background-color: #2980b9;}
    .ribbon li:nth-child(3){background-color: #27ae60;}
    .ribbon li:nth-child(4){background-color: #f39c12;}
    .ribbon li:nth-child(5){background-color: #8e44ad;}
.container{
    width: 95%;
    max-width: 960px;
    margin: auto;
    position: relative;
}
section.logo{
    display: inline-block;
    width: 33%;
}
section.logo img{
    height: 137px;
    vertical-align: middle;
}
section.logo h1{
    display: inline-block;
    font-size: 1.5em;
    font-family: "Roboto Slab";
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
    color: #666;
    padding-left: 10px;
}
nav{
    padding: 0 0 0 1%;
    width: 65%;
    display: inline-block;
    margin-top: 58px;
    vertical-align: top;
}
.menu>li{
    display: inline-block;
    margin: 0 5px;
    position: relative;
}
.menu>li>a{
    display: inline-block;
    background-color: rgba(255,255,255,1);
}

.menu> li:hover>a,.menu > li > a:hover{
    background-color: rgba(200,200,200,1);
    color: #333;
    border-bottom: 2px solid rgba(150,150,150,1);
    transition: border .3s linear;
}
.menu > li > a{
    box-sizing: border-box;
    font-family: "Roboto Slab";
    font-size: 1em;
    min-width: 100px;
    padding: 10px 10px 20px 10px;
    text-align:center;
    border-bottom: 2px solid rgba(150,150,150,0);
    width: 100%;
    display: inline-block;
}
.menu > li > a{
    color: #666666;
    text-transform: uppercase;
    text-decoration: none;
}

.sub-menu{
    position: absolute;
    top:50px;
    z-index: 10;
    overflow: hidden;
    background-color: #fefefe;
    width: 220px;
    max-height: 0px;
    transition: all .3s;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 0px 1px 5px #666;

}
.sub-menu ul{
    padding: 10px 0 0 0;
}

.sub-menu li :hover{
    background-color: #2c3e50;
    color: #fff;
}
.menu > li:hover .sub-menu{
    max-height: 500px;
    transition: all .3s;
}
.sub-menu a{
    color: #333;
    text-decoration: none;
    padding: 5px 0 5px 10px;
    display: inline-block;
    width: 100%;
}
.slider-container{
    position: relative;
    padding-top: 25px;
    width: 100%;
    
}
.slider-bg{
    top: 5px;
    height: 300px;
    width: 100%;
    position: absolute;
    background: #0e0e0e;
    background: -moz-linear-gradient(top,  #0e0e0e 0%, #7d7e7d 100%);
    background: -webkit-linear-gradient(top,  #0e0e0e 0%,#7d7e7d 100%); 
    background: linear-gradient(to bottom,  #0e0e0e 0%,#7d7e7d 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e0e0e', endColorstr='#7d7e7d',GradientType=0 );
    background-size: cover;
    background-image: url(../images/cover-background.jpg);
    background-repeat: no-repeat;
}
.slider{
    height: 360px;
    width: 100%;
    background-color: #888;
    border-radius: 5px;
}
.slider img{
    width: 100%;
    overflow: hidden;
    height: 100%;
}
.slider-shadow{
    width: 100%;
}
.slider-container .slider-header{
    color: #000;
    font-family: "Roboto Slab";
    font-size: 24px;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
}
.slider-container .slider-header:hover{ text-decoration: underline; }
.slider-container hr{
    margin:10px 20px;
}
.news{
    float: left;
    width: 70%;
    display: block;
}
.right-news{
    box-sizing: border-box;
    background-color: #A3B5C1;
    float: left;
    width: 30%;
    color: #000;
    padding: 10px 5px;
    font-weight: lighter;
    line-height: 1.2em;
    font-size: 15px;
    font-family: "Roboto Slab";
}
.right-news img{
    float: left;
    max-width: 30%;
    height: auto;
    border: 1px solid #fff;
    padding: 2px;
    margin: 0 5px 5px 0;
}
.right-news h2{
    width: 100%;
    font-size: 18px;
    margin:0 0 10px 0;
}
.item-news{
    width: 28%;
    display: inline-block;
    margin-right:3%;
}
.item-news .news-title{
    color: #11719e;
    font-size: 21px;
    font-family: "Roboto Slab";
    padding: 0 0 20px 0;
    max-height: 2em;
    overflow: hidden;
}
.item-news .news-img{
    border:1px solid #999;
    border-radius: 5px;
    width: 100%;
    padding: 5px;
}
.item-news p{
    color: #333;
    padding: 10px 0;
    max-height: 5.4em;
    overflow: hidden;
}
.item-news .readmore{
    margin-top: 10px;
    display: inline-block;
    color: #fff;
    padding: 10px;
    width: 100%;
    background-color: #2980b9;
    border-radius: 4px;
    text-decoration: none;
}
.item-news .readmore:hover{
    background-color: #1C577C;
    transition: background-color .3s;
}
.two-col{
    margin-top: 20px;
    width: 100%;
    display: block;
}
.two-col-item{
    width: 49%;
    float: left;
}
.two-col-item h2{
    font-size: 21px;
    font-weight: bold;
    margin:20px 0px;
    padding: 10px;
}
.service-link .service-title{
    background-color: #2E997C;
    color: #fff;
}
.service-link a{
    display: list-item;
    font-size: 16px;
    color: #11719e;
    padding: 5px 0 0 0;
}

.notifications .notifications-img{
    float: left;
    width: 70px;
    padding: 0 10px 0 0;
}
.notifications h2{
    background-color: #CFD8DC;
}
.notifications .notifications-title{
    color: #000;
    text-decoration: none;
    font-size: 18px;
}
.notifications .notifications-title:hover{
    color: #11719e;
}
.notifications .notifications-item{
    padding: 10px 0;
    border-bottom: 1px solid #333;
}
section.gallery hr{
    height: 10px;
    background-color: #c0392b;
}
section.gallery h2{
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    color: #2c3e50;
}
.icon{
    height: 1.5em;
    margin: 0 5px  -.3em 0;
}
section.gallery li{
    display: inline-block;
}
section.gallery li img{
    height: 150px;
}
footer{
    margin: 20px 0 0 0 ;
    background-color: #9e9e9e;
}
.bottom-menu{
    width: 100%;
}

.bottom-menu>li{
    float: left;
    display: block;
    margin: 20px 0 0 0 ;
    padding: 0px 20px;
    border-right: 1px dotted #fff;
    width: 20%;
}
.bottom-menu>li:nth-child(4n+1) {
    clear: both;
}
.bottom-menu>li a ,.bottom-info a{
    display: inline-block;
    padding: 5px 0px;
    color: #11719e;
    text-decoration: none;
}
.bottom-menu>li a:hover,.bottom-info a:hover{text-decoration: underline;}
.bottom-sub-menu>li>a{
    padding: 0 0 3px 5px;
}
.bottom-info{text-align: center;}
.copyright-bottom{
    margin: 20px 0 0 0 ;
    padding: 10px 0 10px 0;
    background-color: #000;
}
.copyright-bottom p{
    text-align: center;
    color: #fff;
    width: 50%;
    float: left;
}
/******************* 
    clear fix code 
********************/
.cf:before,
.cf:after {
    content: " ";
    display: table; 
}
.cf:after {
    clear: both;
}